<div class="content">
    <header class="row">
        <div class="header">
            <img class="logo" src="https://img.freepik.com/premium-vector/network-technology-digital-dark-blue-colorful-design-banner_181182-33509.jpg" alt="logo">
            <div class="title">
                <h1>CaseHub</h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" id="btn-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-admin">
                    <a class="nav-link disabled" href="/admin">Admin</a>
                  </li>
                  <li class="nav-login">
                    <a id="login" class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-register">
                    <a id="register" class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cart <span class="badge badge-pill badge-info">0</span></a>
                  </li>
                </ul>
          
                <form class="d-flex" role="search" method="POST">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
</div>
