<!-- Shopping cart page -->
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <script src="/public/js/table.js"></script>
    <script src="/public/js/data.js"></script>
    <title>Shopping Cart</title>
<body>
    <%- include('./partials/nav') %>
    <main class="row">
        <div class="offset-md-3 offset-lg-3 offset-sm-1 col-lg-6 col-md-6 col-sm-10 mt-5" id="cart-table">
            <h1>Shopping Cart</h1>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>